/*
#maillist_form {
							 display:block;
							 overflow:hidden;				 
}
#maillist_form label{
							 color:#333; 

							 }

#maillist_form div.label {
							 float:left;
							 width:30%;
							 text-align:right;
							 clear:both;
							 float:left;
							 display: inline;
							 padding: 4px;	
							 margin-top: 5px;
							 margin-bottom: 5px;
}
#maillist_form div.input { 
							width: 65%;	
							text-align: left;	
							float: right;	
							display: inline;	
							padding: 4px;								 
							margin-top: 5px;
							margin-bottom: 5px;
							color:#555;
}
*/