.efectosFilter {
  background-color: hsl(0,0%,20%);
  text-align: center;
}
.imgF  {
  box-shadow: 0px 0px 30px #ccc;
    -o-box-shadow: 0px 0px 30px #ccc;
    -ms-box-shadow: 0px 0px 30px #ccc;
    -moz-box-shadow: 0px 0px 30px #ccc;
    -webkit-box-shadow: 0px 0px 30px #ccc;
  float: left;
  margin: 20px 30px;
}
.imgF img {
  border: 1px solid #fff;
  height: 192px;
  padding: 10px;
  width: 256px;
}
#imgF2 img {
  filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#imgF3 img {
  filter: grayscale(60%);
    -o-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}
#imgF4 img {
  filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -webkit-filter: sepia(100%);
}
#imgF5 img {
  filter: sepia(60%);
    -o-filter: sepia(60%);
    -ms-filter: sepia(60%);
    -moz-filter: sepia(60%);
    -webkit-filter: sepia(60%);
}
#imgF6 img {
  filter: saturate(40%);
    -o-filter: saturate(40%);
    -ms-filter: saturate(40%);
    -moz-filter: saturate(40%);
    -webkit-filter: saturate(40%);
}
#imgF7 img {
  filter: saturate(60%);
    -o-filter: saturate(60%);
    -ms-filter: saturate(60%);
    -moz-filter: saturate(60%);
    -webkit-filter: saturate(60%);
}
#imgF8 img {
  filter: hue-rotate(45deg);
    -o-filter: hue-rotate(45deg);
    -ms-filter: hue-rotate(45deg);
    -moz-filter: hue-rotate(45deg);
    -webkit-filter: hue-rotate(45deg);
}
#imgF9 img {
  filter: hue-rotate(90deg);
    -o-filter: hue-rotate(90deg);
    -ms-filter: hue-rotate(90deg);
    -moz-filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
}
#imgF10 img {
  filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}
#imgF11 img {
  filter: hue-rotate(270deg);
    -o-filter: hue-rotate(270deg);
    -ms-filter: hue-rotate(270deg);
    -moz-filter: hue-rotate(270deg);
    -webkit-filter: hue-rotate(270deg);
}
#imgF12 img {
  filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
}
#imgF13 img {
  filter: invert(60%);
    -o-filter: invert(60%);
    -ms-filter: invert(60%);
    -moz-filter: invert(60%);
    -webkit-filter: invert(60%);
}
#imgF14 img {
  filter: opacity(40%);
    -o-filter: opacity(40%);
    -ms-filter: opacity(40%);
    -moz-filter: opacity(40%);
    -webkit-filter: opacity(40%);
}
#imgF15 img {
  filter: opacity(60%);
    -o-filter: opacity(60%);
    -ms-filter: opacity(60%);
    -moz-filter: opacity(60%);
    -webkit-filter: opacity(60%);
}
#imgF16 img {
  filter: brightness(-10%);
    -o-filter: brightness(-10%);
    -ms-filter: brightness(-10%);
    -moz-filter: brightness(-10%);
    -webkit-filter: brightness(-10%);
}
#imgF17 img {
  filter: brightness(60%);
    -o-filter: brightness(60%);
    -ms-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -webkit-filter: brightness(60%);
}
#imgF18 img {
  filter: contrast(30%);
    -o-filter: contrast(30%);
    -ms-filter: contrast(30%);
    -moz-filter: contrast(30%);
    -webkit-filter: contrast(30%);
}
#imgF19 img {
  filter: contrast(60%);
    -o-filter: contrast(60%);
    -ms-filter: contrast(60%);
    -moz-filter: contrast(60%);
    -webkit-filter: contrast(60%);
}
#imgF20 img {
  filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}
#imgF21 img {
  filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
}