.elementos {
  background-color: #6F11DB;
  border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
    -ms-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
  box-shadow: 0 0 5px #047213;
    -o-box-shadow: 0 0 5px #047213;
    -ms-box-shadow: 0 0 5px #047213;
    -moz-box-shadow: 0 0 5px #047213;
    -webkit-box-shadow: 0 0 5px #047213;
  color: #00FF21;
  font-size: 14px;
  height: 100px;
  margin: 20px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100px;
}
.trasc1:hover {
  transform: scale(0.5,1.5);
    -o-transform: scale(0.5,1.5);
    -ms-transform: scale(0.5,1.5);
    -moz-transform: scale(0.5,1.5);
    -webkit-transform: scale(0.5,1.5);
}
.trasc2:hover {
  transform: scale(1,1.5);
    -o-transform: scale(1,1.5);
    -ms-transform: scale(1,1.5);
    -moz-transform: scale(1,1.5);
    -webkit-transform: scale(1,1.5);
}
.trasc3:hover {
  transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.trasc4:hover {
  transform: scale(0.5,1);
    -o-transform: scale(0.5,1);
    -ms-transform: scale(0.5,1);
    -moz-transform: scale(0.5,1);
    -webkit-transform: scale(0.5,1);
}
.trasc5:hover {
  transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
.trasc6:hover {
  transform: scale(1.5,1);
    -o-transform: scale(1.5,1);
    -ms-transform: scale(1.5,1);
    -moz-transform: scale(1.5,1);
    -webkit-transform: scale(1.5,1);
}
.trasc7:hover {
  transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}
.trasc8:hover {
  transform: scale(1,0.5);
    -o-transform: scale(1,0.5);
    -ms-transform: scale(1,0.5);
    -moz-transform: scale(1,0.5);
    -webkit-transform: scale(1,0.5);
}
.trasc9:hover {
  transform: scale(1.5,0.5);
    -o-transform: scale(1.5,0.5);
    -ms-transform: scale(1.5,0.5);
    -moz-transform: scale(1.5,0.5);
    -webkit-transform: scale(1.5,0.5);
}
.trasc10:hover {
  transform: scale(-1.5,1);
    -o-transform: scale(-1.5,1);
    -ms-transform: scale(-1.5,1);
    -moz-transform: scale(-1.5,1);
    -webkit-transform: scale(-1.5,1);
}
.trasc11:hover {
  transform: scale(1,-1);
    -o-transform: scale(1,-1);
    -ms-transform: scale(1,-1);
    -moz-transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
}