#sombrasTexto div {
  font-size: 60px;
  font-weight: bold;
  height: 150px;
  letter-spacing: 0.3em;
  margin: 0px auto 3px auto;
  padding: 30px 0px 10px 0px;
  text-align: center;
  vertical-align: middle;
  width: 600px;
}
#sombrasTexto a {
  color: #2D5106;
  text-decoration: none;
}
.transicion {
  font-family: Tahoma, Sans-Serif;
  text-shadow: 6px 6px 5px #FF99FF;
  transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -webkit-transition: text-shadow 1s;
}
.transicion:hover {
  text-shadow: 2px 2px 0px #99FF33;
}
.animacion {
  background-color: #999999;
  font-family: Tahoma, Sans-Serif;
  padding: 15px;
  animation: anim1 5s linear infinite;
    -o-animation: anim1 5s linear infinite;
    -ms-animation: anim1 5s linear infinite;
    -moz-animation: anim1 5s linear infinite;
    -webkit-animation: anim1 5s linear infinite;
}
@keyframes anim1 {
  0%  { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
  20%  { text-shadow: yellow 10px 10px 2px, rgba(0, 0, 0, .6) -10px -3px 3px; }
  40%  { text-shadow: green 1px 1px 10px, rgba(0, 0, 0, .6) 0px 0px 5px; }
  60%  { text-shadow: blue 50px -10px 5px, rgba(0, 0, 0, .6) 30px -20px 12px; }
  80%  { text-shadow: purple -30px 10px 5px, rgba(0, 0, 0, .6) 10px 10px 12px; }
  100% { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
}
@-o-keyframes anim1 {
  0%  { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
  20%  { text-shadow: yellow 10px 10px 2px, rgba(0, 0, 0, .6) -10px -3px 3px; }
  40%  { text-shadow: green 1px 1px 10px, rgba(0, 0, 0, .6) 0px 0px 5px; }
  60%  { text-shadow: blue 50px -10px 5px, rgba(0, 0, 0, .6) 30px -20px 12px; }
  80%  { text-shadow: purple -30px 10px 5px, rgba(0, 0, 0, .6) 10px 10px 12px; }
  100% { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
}
@-ms-keyframes anim1 {
  0%  { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
  20%  { text-shadow: yellow 10px 10px 2px, rgba(0, 0, 0, .6) -10px -3px 3px; }
  40%  { text-shadow: green 1px 1px 10px, rgba(0, 0, 0, .6) 0px 0px 5px; }
  60%  { text-shadow: blue 50px -10px 5px, rgba(0, 0, 0, .6) 30px -20px 12px; }
  80%  { text-shadow: purple -30px 10px 5px, rgba(0, 0, 0, .6) 10px 10px 12px; }
  100% { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
}
@-moz-keyframes anim1 {
  0%  { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
  20%  { text-shadow: yellow 10px 10px 2px, rgba(0, 0, 0, .6) -10px -3px 3px; }
  40%  { text-shadow: green 1px 1px 10px, rgba(0, 0, 0, .6) 0px 0px 5px; }
  60%  { text-shadow: blue 50px -10px 5px, rgba(0, 0, 0, .6) 30px -20px 12px; }
  80%  { text-shadow: purple -30px 10px 5px, rgba(0, 0, 0, .6) 10px 10px 12px; }
  100% { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
}
@-webkit-keyframes anim1 {
  0%  { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
  20%  { text-shadow: yellow 10px 10px 2px, rgba(0, 0, 0, .6) -10px -3px 3px; }
  40%  { text-shadow: green 1px 1px 10px, rgba(0, 0, 0, .6) 0px 0px 5px; }
  60%  { text-shadow: blue 50px -10px 5px, rgba(0, 0, 0, .6) 30px -20px 12px; }
  80%  { text-shadow: purple -30px 10px 5px, rgba(0, 0, 0, .6) 10px 10px 12px; }
  100% { text-shadow: red 1px 1px, rgba(0, 0, 0, .6) 0px 0px 3px; }
}
.block {
  background: #999999;
  color: #663300;
  font-family: Tahoma, Sans-Serif;
  text-shadow: #FF9933 1px 1px, #FF9933 2px 2px, #FF9933 3px 3px, #FF9933 4px 4px, #FF9933 5px 5px, #FF9933 6px 6px, #FF9933 7px 7px;
}
.fuego {
  background: black;
  color: white;
  font-family: Tahoma, Sans-Serif;
  text-shadow: 0px 0px 4px white, 0px -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}
.neon {
  background: black;
  color: #c8efee;
  font-family: Tahoma, Sans-Serif;
  text-shadow: 0px 0px 10px #c8efee, 0px 0px 10px #c8efee, 0px 0px 10px #46c9c5, 0px 0px 10px #46c9c5, 0px 0px 10px #46c9c5;
}
.outlined {
  background: #CCFFFF;
  color: #000033;
  font-family: Impact, Sans-Serif;
  text-shadow: #CCFFFF 2px 2px, #3399CC 4px 4px;
}
.vintage {
  background: #666666;
  color: #d2d2d2;
  font-family: Impact, Sans-Serif;
  text-shadow: 1px 1px 0px #666666, 2px 2px 0px #666666, 3px 3px 0px #666666, 4px 4px 0px #666666, 5px 5px 0px #d2d2d2;
}