@font-face{
	font-family:'Entypo';src:url("fonts/entypo-webfont-webfont.eot?#") format("eot"),url("fonts/entypo-webfont-webfont.woff") format("woff"),url("fonts/entypo-webfont-webfont.ttf") format("truetype")
}
[data-icon]:before{
	font-family:'Entypo';font-weight:400 !important;content:attr(data-icon);text-transform:none;margin-right:3px;position:relative;top:3px;font-size:30px;line-height:0
}
body{
	font-family:'Whitney SSm A', 'Whitney SSm B', "ff-meta-web-pro", sans-serif;font-size:16px;color:#333;line-height:1.4
}
@media (max-width: 700px){
	body{
		font-size:13px
	}
}
a{
	color:#859ce6
}
a:hover,a:focus{
	color:#2445ae
}
a:active{
	color:black
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 10px 0;padding:0;font-family:'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;font-weight:700;font-style:normal;line-height:1.1
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
	color:#111
}
h1,.h1{
	font-size:48px;margin:0
}
@media (max-width: 700px){
	h1,.h1{
		font-size:32px
	}
}
h2,.h2{
	font-size:42px;margin:0
}
@media (max-width: 700px){
	h2,.h2{font-size:24px}
}
h3,.h3{
	font-size:36px;margin-top:50px
}
@media (max-width: 700px){
	h3,.h3{font-size:24px}
}
h4,.h4{font-size:24px;margin:0 0 5px 0}
@media (max-width: 700px){h4,.h4{font-size:18px}}
h5,.h5{font-size:21px;margin:0;text-transform:uppercase}
@media (max-width: 700px){h5,.h5{font-size:14px}}
h6{font-size:16px}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
	blockquote{padding:10px 10px 10px 15px;margin:0 0 20px 0;background:#eee;border-left:6px solid #859ce6}
	blockquote p:last-child,.explanation p:last-child{margin:0}
p,pre{margin:0 0 20px 0}
pre{overflow:auto;color:white;background:#1d1f21;padding:0;font-family:Menlo, Monaco, monospace;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-ms-word-break:normal;word-break:normal;word-break:normal;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;position:relative}
pre[rel]{padding-top:33px}
pre[rel]:before{content:attr(rel);color:white;position:absolute;top:0;left:0;width:100%;background:#e18728;font-family:'Gotham Rounded A', 'Gotham Rounded B', "proxima-nova-soft", sans-serif;padding:5px 0;text-indent:15px}
pre code{font-family:Menlo, Monaco, monospace;background:none;padding:15px;white-space:pre;overflow:auto;display:block}
code{background:lightyellow;padding:1px}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
@media screen{
	*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	a{text-decoration:none}
	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
	audio,canvas,video{display:inline-block}
	audio:not([controls]){display:none;height:0}
	[hidden]{display:none}
	html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0}
	html,button,input,select,textarea{font-family:sans-serif}
	body{margin:0}
	dl,menu,ol,ul{margin:0;list-style:none}
	dd{margin:0}
	menu,ol,ul{padding:0}
	nav ul,nav ol{list-style:none;list-style-image:none}
	img{border:0;-ms-interpolation-mode:bicubic}s
	vg:not(:root){overflow:hidden}
	figure{margin:0}
	form{margin:0}
	fieldset{border:0;margin:0;padding:0}
	legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
	button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
	button,input{line-height:normal}
	button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
	button[disabled],input[disabled]{cursor:default}
	input[type="checkbox"],input[type="radio"]{padding:0}
	input[type="search"]{-webkit-appearance:textfield}
	input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
	button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
	table{border-collapse:collapse;border-spacing:0;width:100%;margin:0 0 20px 0}
	table th{text-align:left}
	table th,table td{border:1px solid #ccc;padding:5px}
	.group:after{content:"";display:table;clear:both}
	p:empty{display:none}
	.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#777}
	.token.punctuation,.token.tag,.token.attr-name{color:#ab875d}
	.token.property,.token.boolean,.token.number{color:#9b869c}
	.token.selector{color:#dfc48c}
	.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string{color:#a67f59}
	.token.atrule,.token.attr-value,.token.keyword,.token.string{color:#8f9c6c}
	.token.regex,.token.important{color:#e90}
	.language-css{color:#cd6a51}
	.language-css .token.punctuation{color:white}
	.button,#rcp_submit{border:0;border-radius:0;outline:0;background:#4e68c7;box-shadow:1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891;color:white;white-space:nowrap;font-family:'Gotham Rounded A', 'Gotham Rounded B', "proxima-nova-soft", sans-serif;padding:9px 16px;position:relative;top:-5px}
	.button:hover,.button:focus,#rcp_submit:hover,#rcp_submit:focus{color:white;background:#3d57b4}
	.button:active,#rcp_submit:active{box-shadow:1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891;top:-2px;left:3px}
	input[type='search'],input[type='url'],input[type='email'],input[type='text'],input[type='password'],textarea{border:0;border-radius:0;box-shadow:0;border-top:6px solid #eee;border-left:6px solid #ccc;font-family:'Whitney SSm A', 'Whitney SSm B', "ff-meta-web-pro", sans-serif;padding:6px 0 6px 6px;outline:0;word-break:normal;-webkit-appearance:none}
	textarea{width:100%}
	input[type=radio]{float:left;position:relative;top:3px;width:10%}
	body{background:url(images/bg.png);overflow-x:hidden}
	.grid{padding:20px 0 20px 20px}
	.grid-2-3{width:66.66%}
	[class*='grid-']{float:left;padding-right:20px;position:relative}
	.module{overflow:hidden;background:white;padding:45px 40px 30px;clear:both;box-shadow:0 0 5px rgba(0,0,0,0.2);margin:0 0 20px 0;position:relative}
	.module.dark{background:#404040}
	.module:before{content:"";position:absolute;font-size:11px;text-transform:uppercase;top:0;left:0;width:100%;padding:1px 10px 0;color:white}
	.single article>p:nth-child(4){font-size:125%}
	article ul,article ol{margin:0 0 20px 22px}
	article ul,article ul ul,article ol ul{list-style:disc}
	article ol,article ul ol,article ol ol{list-style:decimal}
	article ul ul,article ol ul,article ol ol,article ul ol{margin:5px 0 0 22px}
	article li{margin:0 0 5px 0}
	article li p{margin:5px 0 5px 0}
	img{max-width:100%;height:auto !important}
	hr{border:0;height:1px;background:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0)));background:-webkit-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));background:-moz-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));background:-o-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));background:linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));margin:35px 0 33px 0}
}
@media screen and (max-width: 700px){.grid{padding:10px 0 10px 10px}}
@media screen and (max-width: 700px){[class*='grid-']{float:none;width:100%;padding-right:10px}}
@media screen and (max-width: 700px){.module{padding:30px 20px 20px}}
@media screen and (max-width: 400px){@-ms-viewport{width:320px}}