@import url(reset.css);

/*----------------------------*/
/*-----Property Sensitive-----*/
/*----------------------------*/

body{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  font-size:14px;
  color:#4b4b4b;
  line-height:27px;
  background-color:#a4c9b9;
}
h2{
  font-size:24px;
  font-weight:bold;
  color:#fcb330;
  padding-bottom:10px;
}
h2.home{
  float:left;
  font-size:38px;
  font-weight:normal;
  color:#fff;
  padding:0 0 4px 0;
}
h3{
  font-size:20px;
  font-weight:bold;
  color:#fcb330;
}
h4{
  font-size:16px;
  font-weight:bold;
  color:#507f6c;
}
h4.helpRecentTitle{
  color:#fcb330;
  margin-left:20px;
}
strong{
  font-weight:bold;
}
a:link, a:visited{
  text-decoration:underline;
  color:#507f6C;
  outline:none;
}
a:hover, a:active{
  text-decoration:none;
  outline:none;
}
ul{
  list-style-type:none;
  list-style-image: url('/img/list-icon.png');
}
ul, ol{
  padding-left:20px;
}
li{
  color:#507F6C;
  font-size:14px;
  line-height:27px;
  padding:0;
  margin:0;
}
ul.help li{
  color:#434343;
}
ul.help a{
  font-size:18px;
}
ul.helpRecent{
  list-style-image:none;
}
ul.right{
  margin-left:24px;
}
p, ul, ol, dl{
  margin:0 0 18px 0;
}
em{
  font-style:italic;
}
input.text{
  width:284px;
  height:16px;
  border:1px solid #b7bab9;
  font-size:12px;
  padding:5px;
  background:#fff url('/img/input_sm_bg.png') no-repeat -1px -1px;
}
label {
    font-weight:bold;
}
label.errors {
  color:inherit;
}
dt{
  font-weight:bold;
}
dd{
  margin-left:20px;
  font-style:italic;
}
table.api{
  width:100%;
  margin:20px 0;
  border-left:#507F6C 1px solid;
  border-bottom:#507F6C 1px solid;
  font-style:normal;
}
table.api tr{
  color:#fcb330;
  background-color:#fff;
}
table.api tr.alt{
  color:#507f6c;
  background-color:#dbe9e3;
}
table.api th{
  color:#fcb330;
  font-weight:bold;
  padding:5px 10px;
  border-top:#507F6C 1px solid;
  border-right:#507F6C 1px solid;
}
table.api td{
  width:20%;
  padding:5px 10px;
  border-right:#507F6C 1px solid;
}

/*-------------------------*/
/*-----Class Sensitive-----*/
/*-------------------------*/

.clear{
  clear:both;
  padding:0;
  margin:0;
}
.errors{
  color:red;
}
.green{
  color:#507F6C;
}

.white{
  color:#fff;
}
.whiteish{
  color:#d2eadf;
}
.orange{
  color:#fcb330;
}
.shadow{
  -moz-text-shadow: 1px 1px 1px #62786e;
  -webkit-text-shadow: 1px 1px 1px #62786e;
  text-shadow: 1px 1px 1px #62786e;
}
.homeVideoText a{
  color:#fff;
}
.boxshadow{
  -moz-box-shadow: 3px 3px 6px #62786e;
  -webkit-box-shadow: 3px 3px 6px #62786e;
  box-shadow: 3px 3px 6px #62786e;
}
h2.signup{
  font-weight: 300;
  font-size: 40px;
  color: #6eab91;
  text-align:center;
  padding: 10px 0 16px 0;
}
.quote{
/*   padding: 10px 15px 5px 15px; */
  margin: 15px 0;
/*   background-color: #DBE9E3; */
}
.quote img{
  margin-bottom: 15px;
}

/*----------------------*/
/*-----ID Sensitive-----*/
/*----------------------*/

.lead{
  font-weight:bold;
  color:#fcb330;
}
input.errors {
  border:2px solid #BD1A00;
}

table.form{
  border:none;
}
table.form tbody th{
  text-align:right;
  width:160px;
  vertical-align:top;
}
table.form label{
  font-size:14px;
}
table.form tbody td{
    border:none;
    padding:0 0 12px 20px;
    text-align:left;
}
table.form tbody th.captcha{
  text-align:left;
}
table.form tbody th span{
  text-align:right;
}

/*-----Header-----*/

#headerContainer{
  position:relative;
  width:100%;
  height:47px;
  padding:0;
  margin:0;
  z-index:8888;
  background:url('/img/header-container-bg.png') repeat-x;
}
#headerContent{
  position:relative;
  width:860px;
  height:41px;
  padding:0;
  margin:0 auto 0 auto;
  background:transparent;
}
.homeButton a{
  float:left;
  display:block;
  height:41px;
  width:74px;
  background:url('/img/home-button.png') no-repeat left;
}
.homeButton a:hover{
  background-position:right;
}
.homeButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:74px;
  text-indent:-9999px;
}
.featuresButton a{
  float:left;
  display:block;
  height:41px;
  width:95px;
  background:url('/img/features-button.png') no-repeat left;
}
.featuresButton a:hover{
  background-position:right;
}
.featuresButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:95px;
  text-indent:-9999px;
}
#tweetContainer{
  float: right;
  width: 500px;
  margin: -6px 12px 0 0;
  font-size: 15px;
  color: #434343;
}
.signUpSmall{
  display: block;
  width: 137px;
  height: 35px;
  background: url(../img/sign-up-button-small.png) 0 0 no-repeat;
  text-indent: -9999px;
}
.signUpSmall:hover{
  background-position: -200px 0;
}

#homeSlider{
  clear: both;
  position: relative;
}
#homeSlider .slideContainer{
  width: 648px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#homeSlider .slides{
  position: absolute;
  height: 250px;
  width: 99999px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

#homeSlider .slides li{
  float: left;
  text-align: center;
  color:#fff;
  font-size:16px;
}

#homeSlider .nextBtn, #homeSlider .prevBtn{
  display: block;
  width: 87px;
  height: 87px;
  text-indent: -9999px;
  position: absolute;
  background-image: url(/img/homeslider_nav.png);
  background-repeat: no-repeat;
  top: 50px;
}
#homeSlider .nextBtn{
  background-position: -87px 0;
  right: 0;
}
#homeSlider .prevBtn{
  background-position: 0 0;
  left: 0;
}
#homeSlider .nextBtn:hover{
  background-position: -87px -87px;
}
#homeSlider .prevBtn:hover{
  background-position: 0 -87px;
}
.pricingButton a{
  float:left;
  display:block;
  height:41px;
  width:80px;
  background:url('/img/pricing-button.png') no-repeat left;
}
.pricingButton a:hover{
  background-position:right;
}
.pricingButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:80px;
  text-indent:-9999px;
}
.supportButton a{
  float:left;
  display:block;
  height:41px;
  width:111px;
  background:url('/img/support-button.png') no-repeat left;
}
.supportButton a:hover{
  background-position:right;
}
.supportButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:111px;
  text-indent:-9999px;
}
.developersButton a{
  float:left;
  display:block;
  height:41px;
  width:134px;
  background:url('/img/developers-button.png') no-repeat left;
}
.developersButton a:hover{
  background-position:right;
}
.developersButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:134px;
  text-indent:-9999px;
}
.aboutUsButton a{
  float:left;
  display:block;
  height:41px;
  width:99px;
  background:url('/img/about-us-button.png') no-repeat left;
}
.aboutUsButton a:hover{
  background-position:right;
}
.aboutUsButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:99px;
  text-indent:-9999px;
}
.pressButton a{
  float:left;
  display:block;
  height:41px;
  width:70px;
  background:url('/img/press-button.png') no-repeat left;
}
.pressButton a:hover{
  background-position:right;
}
.pressButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:70px;
  text-indent:-9999px;
}
.blogButton a{
  float:left;
  display:block;
  height:41px;
  width:85px;
  background:url('/img/blog-button.png') no-repeat left;
}
.blogButton a:hover{
  background-position:right;
}
.blogButton{
  float:left;
  display:block;
  overflow:hidden;
  height:41px;
  width:85px;
  text-indent:-9999px;
}
ul.headerNav{
  float:right;
  display:block;
  margin:5px 15px 0 0;
  list-style-type:none;
}
li.headerNav{
  color:#FFF;
  font-size:13px;
}
a.headerNav{
  color:#eab63d;
  font-size:13px;
}

/*-----Top Content-----*/

#topContentContainer{
  float:left;
  width:100%;
  padding:0;
  margin-top:-5px;
  background: transparent url('/img/top-content-container-bg.png') repeat-x bottom;
}
#topContentContainerFeatures{
  float:left;
  width:100%;
  padding:0;
  margin-top:-5px;
  background: transparent;
}
#topContent{
  position:relative;
  width:860px;
  min-height:661px;
  padding:0;
  margin:0 auto auto auto;
  z-index:0;
  background: transparent url('/img/top-content-bg.jpg') no-repeat;
}
#topContentFeatures{
  position:relative;
  width:860px;
  height:190px;
  padding:0;
  margin:0 auto auto auto;
  z-index:0;
  background: transparent url('/img/top-content-bg.jpg') no-repeat;
}
.topContentColumnOne{
  float:left;
  display:block;
  width:330px;
  background:transparent;
}
.recentBuzz{
  float:left;
  display:block;
  padding:10px 20px;
  margin:10px 0 20px 0;
  background-color:#dbe9e3;
}
.recentBuzz p{
  margin:0;
  font-size:20px;
}
p.time{
  font-size:13px;
  text-align:right;
}
.logoLarge{
  float:left;
  display:block;
  margin:20px 0 0 0;
  padding-bottom:32px;
}
.twitterButton a{
  float:right;
  display:block;
  height:34px;
  width:191px;
  background:url('/img/twitter-button.png') no-repeat left;
}
.twitterButton a:hover{
  background-position:right;
}
.twitterButton{
  float:right;
  display:block;
  overflow:hidden;
  height:34px;
  width:191px;
  margin:105px 20px 0 0;
  text-indent:-9999px;
}
.learnAboutOurApiButton a{
  float:right;
  display:block;
  height:34px;
  width:193px;
  background:url('/img/learn-about-our-api-button.png') no-repeat left;
}
.learnAboutOurApiButton a:hover{
  background-position:right;
}
.learnAboutOurApiButton{
  float:right;
  display:block;
  overflow:hidden;
  height:34px;
  width:191px;
  margin-top:105px;
  text-indent:-9999px;
}
.topContentColumnOneContent{
  float:left;
  display:block;
  width:330px;
  margin:32px 0 0 0;
  background:transparent;
}
.yellow{
  color:#FFF386;
  font-size:24px;
  font-weight:bold;
  line-height:22px;
}
.topContentColumnOneContent p{
  color:#4b4b4b;
  font-size:16px;
  font-weight:normal;
  line-height:27px;
}
.topContentColumnOneButtons{
  float:left;
  display:block;
  width:330px;
  height:34px;
  margin:3px 0 0 -4px;
  background:transparent;
}
.topContentColumnOneButtons p{
  float:left;
  display:inline;
  margin:3px 5px 0 5px;
}
.topContentColumnOneButtons img{
  float:left;
  display:block;
  margin:20px 0 0 5px;
}
.signUpButton a{
  float:left;
  display:inline;
  height:54px;
  width:202px;
  background:url('/img/get-started-button.png') no-repeat left;
}
.signUpButton a:hover{
  background-position:right;
}
.signUpButton{
  float:left;
  margin-left:26px;
  display:inline;
  overflow:hidden;
  height:54px;
  width:202px;
  text-indent:-9999px;
}
.signUpButtonDevelopers a{
  float:left;
  display:inline;
  height:54px;
  width:202px;
  background:url('/img/sign-up-button.png') no-repeat left;
}
.signUpButton a:hover{
  background-position:right;
}
.signUpButtonDevelopers{
  height:54px;
  width:202px;
  margin:0 0 20px -8px;
  text-indent:-9999px;
}
.topContentColumnTwo{
  float:left;
  display:block;
  width:530px;
  background:transparent;
}
.homeVideo{
  float:right;
  margin:32px 0 32px 0;
  padding:14px 14px 0 14px;
  background: #90bfab;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #000;
  -webkit-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}
.homeVideoText{
  color:#fff;
  padding: 10px 0 0 0;
  text-align:center;
}
.screenShotGraphic{
  float:right;
  display:block;
  margin:32px 0 32px 0;
}
.screenShotGraphic a{
  float:right;
  display:inline;
  height:392px;
  width:505px;
  background:url('/img/screen-shot-graphic.png') no-repeat left;
}
.screenShotGraphic a:hover{
  background-position:right;
}
.screenShotGraphic{
  float:right;
  display:inline;
  overflow:hidden;
  height:392px;
  width:505px;
  text-indent:-9999px;
}

/* ----- Tier 2 ----- */

#t2ContentContainer{
  float:left;
  width:100%;
  padding:0;
  margin-top:-5px;
  background:url('/img/top-content-container-bg-t2.png') repeat-x bottom;
}
#t2Content{
  position:relative;
  width:860px;
  min-height:169px;
  padding:0;
  margin:0 auto 0 auto;
  background:transparent url('/img/top-content-bg-t2.png') no-repeat;
}
#t2ContentInfo{
  float:left;
  display:block;
  width:370px;
  margin:20px 20px 0 0;
}
#t2PricingInfo{
  float:left;
  display:block;
  width:370px;
  margin:20px 20px 0 26px;
}
#t2ContentBottom{
  float:right;
  display:block;
  padding:0 20px 31px 0;
  margin:0;
}
#pricingChart{
  margin:0 auto 0 auto;
  padding:20px;
  width:520px;
  display:block;
}
.pricingHeader{
  margin:0 auto 0 auto;
  width: 400px;
  font-size:44px;
  color:#507f6c;
}
#pricingChartImage{
  position:relative;
  right:60px;
}
#freetrialbutton{
  position:relative;
  left: 304px;
  top: 444px;
  z-index:999;
  float:left;
}

/*-----Bottom Content-----*/

#bottomContentContainer{
  position:relative;
  width:100%;
  margin:177px 0 auto 0;
  background:#f1f1f1 url('/img/bottom-content-container-bg.png') repeat-x;
  overflow:hidden;
}
#bottomContent{
  position:relative;
  width:860px;
  overflow:visible;
  margin:0 auto 0 auto;
  background:#FFF url('/img/bottom-content-bg.png') no-repeat;
}
#t2BottomContent{
  position:relative;
  width:860px;
  margin:0 auto 0 auto;
  overflow:visible;
  background:#FFF url('/img/bottom-content-bg-t2.png') no-repeat;
}
.bottomContentTitle{
  float:left;
  display:block;
  margin:10px 0 0 -10px;
}
.recurringBillingButton a{
  float:left;
  display:inline;
  height:44px;
  width:187px;
  background:url('/img/recurring-billing-button.png') no-repeat left;
}
.recurringBillingButton a:hover{
  background-position:right;
}
.recurringBillingButton{
  float:left;
  display:inline;
  overflow:hidden;
  height:44px;
  width:187px;
  margin:25px 0 0 25px;
  text-indent:-9999px;
}
.easyIntegrationWithAPIButton a{
  float:left;
  display:inline;
  height:44px;
  width:250px;
  background:url('/img/easy-intergration-with-api-button.png') no-repeat left;
}
.easyIntegrationWithAPIButton a:hover{
  background-position:right;
}
.easyIntegrationWithAPIButton{
  float:left;
  display:inline;
  overflow:hidden;
  height:44px;
  width:250px;
  margin:25px 0 0 5px;
  text-indent:-9999px;
}
.completeSystemRecordButton a{
  float:left;
  display:inline;
  height:44px;
  width:268px;
  background:url('/img/complete-system-record-button.png') no-repeat left;
}
.completeSystemRecordButton a:hover{
  background-position:right;
}
.completeSystemRecordButton{
  float:left;
  display:inline;
  overflow:hidden;
  height:44px;
  width:268px;
  margin:25px 0 0 5px;
  text-indent:-9999px;
}
.featuresNav{
  float:left;
  display:block;
  width:258px;
  margin:5px 0 0 31px;
  background-color:#FFF;
}
.featuresNavContent{
  float:left;
  display:block;
  width:258px;
  padding:26px 0 0 0;
  background:url('/img/features-nav-bg.png') repeat-y top right;
}
.featuresNavBottom{
  float:left;
  display:block;
  width:258px;
  height:67px;
  padding:0;
  background:url('/img/features-nav-fade-bg.png') no-repeat top right;
}
.customizablePricingPlansButton a:hover{
  background-position:right;
}
.customizablePricingPlansButton{
  float:left;
  display:block;
  overflow:hidden;
  height:65px;
  width:258px;
  margin:0 0 5px 0;
  text-indent:-9999px;
}
.customizablePricingPlansButton a{
  float:left;
  display:block;
  height:65px;
  width:258px;
  background:url('/img/customizable-pricing-plans-button.png') no-repeat left;
}
.billCustomersAutomaticallyButton a:hover{
  background-position:right;
}
.billCustomersAutomaticallyButton{
  float:left;
  display:block;
  overflow:hidden;
  height:65px;
  width:258px;
  margin:0 0 5px 0;
  text-indent:-9999px;
}
.billCustomersAutomaticallyButton a{
  float:left;
  display:block;
  height:65px;
  width:258px;
  background:url('/img/bill-customers-automatically-button.png') no-repeat left;
}
.throughlyDocumentedApiButton a:hover{
  background-position:right;
}
.throughlyDocumentedApiButton{
  float:left;
  display:block;
  overflow:hidden;
  height:65px;
  width:258px;
  margin:0 0 5px 0;
  text-indent:-9999px;
}
.throughlyDocumentedApiButton a{
  float:left;
  display:block;
  height:65px;
  width:258px;
  background:url('/img/throughly-documented-api-button.png') no-repeat left;
}
.easyToUseInterfaceButton a:hover{
  background-position:right;
}
.easyToUseInterfaceButton{
  float:left;
  display:block;
  overflow:hidden;
  height:47px;
  width:258px;
  margin:0 0 5px 0;
  text-indent:-9999px;
}
.easyToUseInterfaceButton a{
  float:left;
  display:block;
  height:47px;
  width:258px;
  background:url('/img/easy-to-use-interface-button.png') no-repeat left;
}
.supportsMultipleBillingModelsButton a:hover{
  background-position:right;
}
.supportsMultipleBillingModelsButton{
  float:left;
  display:block;
  overflow:hidden;
  height:65px;
  width:258px;
  margin:0;
  text-indent:-9999px;
}
.supportsMultipleBillingModelsButton a{
  float:left;
  display:block;
  height:65px;
  width:258px;
  background:url('/img/supports-multiple-billing-models-button.png') no-repeat left;
}
.tabs a.selected{
  background-position:right;
}
.checkContainer{
  float:left;
  display:block;
  width:810px;
  height:100%;
  margin:31px 0 31px 31px;
  background-color:#A4C9B9;
}
.checkContainerNobg{
  float:left;
  display:block;
  width:810px;
  height:100%;
  margin:31px 0 31px 31px;
}
.pricing{

  margin-bottom:0;
}
.checkWhiteContent{
  float:left;
  display:block;
  width:768px;
  height:100%;
  margin:-6px 0 7px -6px;
  border:#507F6C 1px solid;
  background-color:#fff;
  padding:20px 20px 0 20px;
}
.checkContainerColumnLeft{
  float:left;
  display:block;
  width:359px;
}
.checkContainerColumnLeft p{
  margin-bottom:10px;
}
.checkContainerColumnLeft ul{
  margin-bottom:30px;
}
.checkContainerColumnRight{
  float:Right;
  display:block;
  width:359px;
}
.checkContainerColumnRight p{
  margin-bottom:10px;
}
.checkContainerColumnRight ul{
  margin-bottom:30px;
}
.pressLogos{
  width:768px;
  margin-bottom:20px;
}
.pressLogos a{
  margin-right:20px;
}
.mousePlateGraphic{
  float:left;
  display:block;
  margin:20px 20px 0 20px;
}
.checkWhiteContentPricing{
  float:left;
  display:block;
  width:808px;
  height:100%;
  margin:-6px 0 7px -6px;
  border-top:#507F6C 1px solid;
  border-bottom:#507F6C 1px solid;
  border-left:#507F6C 1px solid;
  background-color:#fff;
}
.checkColumn{
  float:left;
  display:block;
  width:201px;
  margin-bottom:auto;
  border-right:#507F6C 1px solid;
}
.last{
  width:269px;
  border:none;
}
.checkRowWhite{
  float:left;
  display:block;
  width:100%;
  height:50px;
  background-color:#fff;
}
.checkRowWhite p{
  color:#fcb330;
  padding:8px 20px 0 20px;
  line-height:16px;
}
.checkRowGreen{
  float:left;
  display:block;
  width:100%;
  height:50px;
  background-color:#dbe9e3;
}
.checkRowGreen p{
  color:#507f6c;
  padding:8px 20px 0 20px;
  line-height:16px;
}
.top{
  height:105px;
}
.top h3{
  line-height:16px;
  padding:35px 0 5px 20px;
}
.top p{
  line-height:16px;
  padding:3px 0 0 20px;
}
.top p span.price {
  font-size: 16px;
  font-weight: bold;
}
.signUpButtonPricing a{
  float:left;
  display:inline;
  height:34px;
  width:102px;
  background:url('/img/sign-up-button.png') no-repeat left;
}
.signUpButtonPricing a:hover{
  background-position:right;
}
.signUpButtonPricing{
  float:left;
  display:inline;
  overflow:hidden;
  height:34px;
  width:102px;
  text-indent:-9999px;
  padding:7px 0 0 47px;
}
#pricingCosts{
  position:relative;
  height: 60px;
  width: 400px;
  left: 64px;
  top: -62px;
}
.pricingTable{
  position:relative;
  top:6px;
  right: 122px;
  width: 600px;
  line-height:22px;
}
.pricingLabel{
  color:#000000;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  padding-right: 28px;
}
.pricingNumber1{
  color:#FFFFFF;
  font-size: 20px;
  text-align: right;
  padding-right: 2px;
}
.pricingNumber2{
  color:#FFFFFF;
  font-size: 20px;
  text-align: right;
  padding-right: 56px;
}
.pricingNumber3{
  color:#FFFFFF;
  font-size: 20px;
  text-align: right;
  padding-right:0px;
}
.startFreeTrialButtonPricing a{
  float:left;
  display:inline;
  height:162px;
  width:534px;
  background:url('/img/pricing_startfreetrial1.png') no-repeat left;
}
.startFreeTrialButtonPricing a:hover{
  background-position:right;
  position:relative;
  left: 2px;
}
.startFreeTrialButtonPricing{
  float:left;
  display:inline;
  overflow:hidden;
  height:162px;
  width:534px;
  text-indent:-9999px;
  position:relative;
  top: -30px;
  left:-4px;
  clear:all;
}
.tryItNowButton a{
  float:right;
  display:block;
  height:34px;
  width:124px;
  background:url('/img/try-it-now-button.png') no-repeat left;
}
.tryItNowButton a:hover{
  background-position:right;
}
.tryItNowButton{
  display:block;
  overflow:hidden;
  height:34px;
  width:124px;
  text-indent:-9999px;
  padding: 4px 0 0 20px;
}
.checkContainerSmall{
  float:left;
  display:block;
  width:521px;
  height:100%;
  margin:31px 0 0 31px;
  background-color:#A4C9B9;
}
.checkWhiteContentSmall{
  float:left;
  display:block;
  width:478px;
  height:100%;
  margin:-6px 0 7px -6px;
  border:#507F6C 1px solid;
  background-color:#fff;
  padding:20px 20px 0 20px;
}
.captcha img{
  margin:10px 0 10px 0;
  border:1px solid #b7bab9;
  display:block;
}

#homePageContent{
  width: 479px;
  float: right;
}

#homePageContent .content{
  width: 479px;
  float: right;
}

/*#homePageContent.loading{
  background: url(/img/home-loading.gif) center 115px no-repeat;
}*/
#homePageContent .insetLeft{
  float: left;
}
#homePageContent h1.plain{
  background: none;
  color: #434343;
  font-size: 30px;
  line-height: 64px;
  text-indent: 0;
  width: 530px;
  height: auto;
  line-height: 34px;
  margin: 0 0 10px;
  text-shadow: none;
  font-weight: bold;
}

#homePageContent .thumb-full, #homePageContent .thumb-col{
    display: block; margin: 10px 0;
}

#homePageContent h2, #homePageContent h3{
  color: #434343; clear: both;
}
#homePageContent h2{
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}
#homePageContent h3{
  font-size: 18px;
}
#homePageContent .colLeft{
  width: 232px;
  margin: 10px 15px 10px  0;
  clear: left;
  float: left;
}
#homePageContent .colRight{
  width: 232px;
  float: left;
  margin: 10px 0;
}
#homePageContent .colRight h3, #homePageContent .colLeft h3{ clear: none; }
#homePageContent .intro{
  font-size: 16px;
}

#homePageNav{
  width: 230px;
  float: left;
  padding: 0;
  list-style: none;
}
#homePageNav li{
  padding: 1px 12px 1px 12px;
  margin: 0 0 5px;
}
#homePageNav a{
  color: #78a190;
  font-size: 15px;
  text-decoration: none;
}
#homePageNav a span{
  color: #474848;
}
#homePageNav a:hover{
    text-decoration: underline;
}
#homePageNav .active{
  background-color: #e4f7ef;
  -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -o-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;
}
#homePageNav .active a{
  text-decoration: underline;
}
#homePageNav .active span{
  color: #436959;
}

#homePageFoot{
  clear: both;
  padding: 20px 0 20px 250px;
  overflow: hidden;
}
#homePageFoot .signUpSmall{
  float: left;
  margin: -4px 10px 0 0;
}
.iagree p label{
  font-size: 12px;
}
/*-----Headers-----*/

h1{
  text-indent:-9999px;
  width:870px;
  height:52px;
  margin:0 0 0 -10px;
  padding:10px 0 0 0;
  background-position:10px 0;
}
h1.plain {
  text-indent:24px;
  line-height:64px;
  font-size: 26px;
  text-shadow: #333 0.06em 0.06em 0.06em;
  color: #fff;
  background:url('/img/hd-blank.png') no-repeat 0 10px;
}
h1.home{
  float:left;
  display:block;
  width:756px;
  height:33px;
  margin:0 0 0 0;
  padding:0;
  background-position:top left;
  background:url('/img/hd-home.png') no-repeat;
}
h1.features{
  background:url('/img/hd-features.png') no-repeat 0 10px;
}
h1.pricing{
  background:url('/img/hd-pricing.png') no-repeat 0 10px;
}
h1.help{
  background:url('/img/hd-help.png') no-repeat 0 10px;
}
h1.about{
  background:url('/img/hd-about.png') no-repeat 0 10px;
}
h1.press{
  background:url('/img/hd-press.png') no-repeat 0 10px;
}
h1.blog{
  background:url('/img/hd-blog.png') no-repeat 0 10px;
}
h1.privacy{
  background:url('/img/hd-privacy.png') no-repeat 0 10px;
}
h1.subscription{
  background:url('/img/hd-subscription.png') no-repeat 0 10px;
}
h1.developers{
  background:url('/img/hd-developers.png') no-repeat 0 10px;
}
h1.signup{
  background:url('/img/hd-signup.png') no-repeat 0 10px;
}
h1.signupBeta{
  background:url('/img/hd-signup-beta.png') no-repeat 0 10px;
}
.t2Content{
  padding:20px 0 0 0;
}
/*-----Footer Content-----*/

#footerContainer{
  position:relative;
  width:100%;
  height:276px;
  padding:0;
  margin:0 0 auto 0;
  background: transparent url('/img/footer-container-bg.jpg') repeat-x;
  overflow:hidden;
}
#footerContent{
  position:relative;
  width:860px;
  height:276px;
  padding:0;
  margin:0 auto 0 auto;
  background: transparent url('/img/footer-content-bg.jpg') no-repeat;
}
.footerContentSiteMap{
  float:left;
  width:860px;
  background:transparent;
  height:235px;
}
#footerContent #copyright{
  height:30px;
  float:left;
  color:#507f6c;
  font-size:12px;
  padding:11px 0 0 0;
  font-weight:normal;
}
#footerContent .dividers{
    background: transparent url('/img/footer-divider.png') repeat-y top right;
  height:154px;
}
#footerContent .first{
  padding-left:0;
}
#footerContent h2{
  color:#FFF386;
  font-size:14px;
  font-weight:bold;
  line-height:22px;
  padding:25px 0 0 0;
}
#footerContent ul{
  float:left;
  display:block;
  list-style-image:none;
  padding:0 20px;
}
#footerContent li{
  color:#FFF;
  font-size:13px;
  line-height:22px;
}
#footerContent li.footerNavTwitter{
  color:#FFF;
  font-size:13px;
  line-height:22px;
  margin:14px 0 0 0;
}
#footerContent a{
  color:#FFF;
  font-size:13px;
  text-decoration:none;
}
#footerContent a:hover{
    text-decoration:underline;
}
.followUsOnTwitterIcon{
  float:left;
  display:block;
  margin:-5px 8px 0 0;
}

/*-----My Info-----*/
.mousehole{
  background: #ffffff url('../img/mousehole.png') no-repeat right bottom;
  height: 500px;
}
.signup_form{
  font-size:13px;
}
.signup_form table{
    width:777px;
}
body#landing .signup_form table{
  width: 230px;
}
body#landing table.form tbody td{
  padding-left:5px;
}
body#landing .req_label {
  color:red;
}
.signup_form h2{
    font-size:26px;
    color:#507f6c;
    font-weight:300;
    letter-spacing:-0.02em;
    border-bottom:1px solid #cdcdcd;
    padding:12px 0 4px 0;
    margin:12px 0 22px 0;
    text-align:left;
}
.signup_form input.text{
  width:284px;
  height:16px;
  border:1px solid #b7bab9;
  font-size:12px;
  padding:5px;
  background:#fff url('/img/input_sm_bg.png') no-repeat -1px -1px;
  margin:0;
}
body#landing .signup_form input.text{
  width:200px;
}
.signup_form select{
  width:296px;
  height:26px;
  border:1px solid #b7bab9;
  font-size:12px;
  padding:3px;
  margin:0;
}
body#landing .signup_form select{
  width:200px;
}
.input_message{
  font-size:11px;
  color:#535353;
  text-align:right;
  margin:0;
  width:284px;
}
body#landing .input_message{
  width:200px;
}
body#login, body#forgot{
  background:#f1f3f2 url('/img/login-tile.jpg') repeat-x;
}
#loginWrap{
  width:520px;
  background:transparent;
  margin:40px auto auto auto;
}
#loginTop{
  float:left;
  display:block;
  width:520px;
  height:236px;
  background:transparent url('/img/login-bg-top.png') no-repeat;
}
.loginLogo{
  float:left;
  display:block;
  margin:29px 0 0 129px;
}
.loginTopTitle{
  float:left;
  display:block;
  margin-top:25px;
}
#loginContent{
  float:left;
  display:block;
  width:520px;
  margin:0 0 auto 0;
  background:transparent url('/img/login-bg-content.png') repeat-y;
}
#loginBottom{
  float:left;
  display:block;
  width:520px;
  height:40px;
  background:transparent url('/img/login-bg-bottom.png') no-repeat;
}
#login_form{
  margin:0;
  padding-bottom:0;
}
.homeLink{
  width:522px;
  height:242px;
  opacity:0.8;
  padding:20px 0 0 0;
}
.homeLink a{
    display:block;
  width:293px;
  height:145px;
  text-indent:-9999px;
  margin:0 auto 0 auto;
}
.loginFormWrap{
  margin:0 0 auto 0;
  padding:20px 60px 0 74px;
}
.loginButton{
  float:left;
  display:inline;
  margin:0;
}
.forgotPassword{
  float:left;
  display:inline;
  margin:5px 0 0 5px;
}
.loginFormWrap ul.errors{
  display:none;
}
.loginFormWrap .loginFailed{
/*  position:absolute;
  right:20px;
  top:20px;*/
  color:red;
}
#bottomContentContainer.msg{
  min-height:120px !important;
}
#bottomContentContainer.msg #t2BottomContent{
  background:none;
  min-height:400px;
}
.message{
        padding:10px 30px 10px 46px;
        border:2px solid #ddd;
        background-color:#eee;
        color:#222;
        margin:20px auto 0 auto;
        width:860px;
        position:relative;
}
.message .close{
    position:absolute;
    right:12px;
    top:8px;
}
.signup_form .message{
   width:688px;

  margin:0 0 20px 0;
}
.notice {
        background:#FFF6BF url('/img/icon/notice.png') 15px 15px no-repeat;
        color:#817134;
        border-color:#FFD324;
      }
.success {
        background:#E6EFC2 url('/img/icon/tick.png') 15px 15px no-repeat;
        color:#529214;
        border-color:#C6D880;
      }
      .success a{
      color:#529214;
      text-decoration:underline;
      }
.error {
        background:#FBE3E4 url('/img/icon/exclamation.png') 15px 15px no-repeat;
        color:#D12F19;
        border-color:#FBC2C4;
      }
#login .message{
  width:460px;
}

/*-----Digi Cert-----*/

#digicertsitesealcode{
  width:81px;
  margin-top:17px;
}
/* ------- qtip ------*/
.qtip-contentWrapper{
  font-size:13px !important;
}
.qtip-title{
  background-color:#6eab91 !important;
  color:#e9efed !important;
  padding-top:3px !important;
  padding-left:8px !important;
}
.qtip-content{
  background-color:#e9efed !important;
  color:#507f6c !important;
}
.qtip-button{
  color:#eab63d !important;
}

a.xml {
  background: url('/img/xml.png') no-repeat;
  padding: 8px 0 20px 50px;
}

/* ---------- Landing -------------*/

h1.freeTrial{
  width:259px;
  height:52px;
  margin:-10px 0 0 -20px;
  background:url('/img/freetrial_blank.png') no-repeat;
  text-indent:24px;
  line-height:44px;
  font-size: 26px;
  text-shadow: #333 0.06em 0.06em 0.06em;
  color: #fff;
}
.columnOne{
  float:left;
  width:475px;
  padding:0 30px 30px 10px;
  /* background: white; */
}
.columnTwo{
  border: 1px solid #507F6C;
  float:left;
  width:228px;
  padding:20px 10px 20px 10px;
  margin-bottom:20px;
  /* background: #e9f2ef; */
}
