/*
        estilos.css de la Web "RChWeb.net/RobertoChamoso"
        Desarrollo y Diseño: Roberto Chamoso Garcia
        Contacto: robchamoso@gmail.com
        Año 2014
        versión 2014.08
*/
@font-face {
	font-family: Regular;
	src: url(../../fuentes/OpenSans-Regular.ttf) format('truetype');
  src:  url(../../fuentes/OpenSans-Regular.ttf);
  src:  url(../../fuentes/OpenSans-Regular.eot);
  src:  url(../../fuentes/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(../../fuentes/OpenSans-Regular.woff) format('woff'),
        url(../../fuentes/OpenSans-Regular.ttf) format('truetype'),
        url(../../fuentes/OpenSans-Regular.svg#abril_fatfaceregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: Bold;
	src: url(../../fuentes/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: fontTitulo;
  src:  url(../../fuentes/Gabrielle.ttf);
  src:  url(../../fuentes/Gabrielle.eot);
  src:  url(../../fuentes/Gabrielle.eot?#iefix) format('embedded-opentype'),
        url(../../fuentes/Gabrielle.woff) format('woff'),
        url(../../fuentes/Gabrielle.ttf) format('truetype'),
        url(../../fuentes/Gabrielle.otf) format('otf'),
        url(../../fuentes/Gabrielle.svg#abril_fatfaceregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
	font-family: SemiBold;
	src: url(../fuentes/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: ExtraBold;
	src: url(../fuentes/OpenSans-ExtraBold.ttf) format('truetype');
}*/
@font-face {
	font-family: RegularItalic;
	src: url(../../fuentes/OpenSans-Italic.ttf) format('truetype');
}
/*@font-face {
	font-family: BoldItalic;
	src: url(../fuentes/OpenSans-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: unifont;
	src: url(../fuentes/unifont.ttf) format('truetype');
}*/

/* ********** Estilos Basicos ********** */
* {
	font-family: Regular;
	margin: 0 auto;
	padding: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
/*  font-size: 120%;*/
  height: 100%;
  width: 100%;
}
body, nav, section, header, article {
	display: block;
}
body {
  background-color: hsl(270, 75%, 90%);
/*	background-color: #fafafa;*/
}
a {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  text-decoration: none;
}
a:hover, a:active, a:focus { 
  cursor: pointer;
}
a:after { 
  clear: both;
  content: "";
}
/*a:link, a:visited {
  color: hsl(0, 0%, 100%);
}*/
ul {
	list-style-type: none;
}
li {
	margin-bottom: 3px;
}
.dch  {
  float: right;
}
.izq  {
  float: left;
}
.ocultar {
  display: none;
}
.separador {
  clear: both;
  display: block;
}
.inline {
  display: inline;
}
.inlineBlock {
  display: inline-block;
}
.absolute {
  position: absolute;
}
.sangria {
  margin-top: 15px;
  text-indent: 50px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center {
  text-align: center;
}
.enlace {
  border-bottom: 1px dashed hsl(270, 75%, 30%);
  padding-bottom: 2px;
}
/* ********** Estilos Header y Nav ********** */
#header {
  background-color: hsl(270, 75%, 30%);
  color: hsl(0, 0%, 100%);
  height: 60px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}
#header object {
  height: 50px;
  margin-left: 20px;
  width: 50px;
}
#header h1 {
	color: hsl(270, 75%, 70%);
	letter-spacing: 0.08em;
	font-size: 2.4em;
  margin-left: 20px;
  padding-left: 5px;
  position: absolute;
	text-shadow: -1px -1px hsl(270, 30%, 80%), 1px 1px hsl(270, 30%, 10%);
  top: 12px;
}
#header h1, header span {
  font-family: fontTitulo;
}
#header h1:hover span {
  transform: scale(-1,1);
    -o-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
}
#ocultarScroll {
  background-color: hsl(270, 75%, 90%);
  position: fixed;
  width: 17px;
  z-index: 4000;
}
#menuPrincipal {
/*	background-color: #B1E580;*/
  background-color: hsl(270, 25%, 90%);
  bottom: 0;
/*	color: #2D5106;*/
  color: hsl(270, 75%, 30%);
	display: block;
	float: left;
	font-family: Bold;
	height: auto;
  margin-top: 60px;
  overflow: auto;
	padding: 15px 0px;
	position: fixed;
  top: 0;
	width: 180px;
}
#menuPrincipal::-webkit-scrollbar {   /*  Ocultar barra scroll */
  width: 0 !important;
}
#menuPrincipal li {
	padding-left: 15px;
  padding-right: 5px;
}
#menuPrincipal li:hover {
  color: hsl(270, 25%, 90%);
  background-color: hsl(270, 75%, 30%);
/*	background-color: #2D5106;
	color: #B1E580;*/
	cursor: pointer;
}
#tituloArticulo {
	color: hsl(270, 75%, 70%);
	letter-spacing: 0.05em;
	font-size: 2em;
  margin-left: 20px;
  padding-left: 5px;
	text-shadow: -1px -1px hsl(270, 30%, 80%), 1px 1px hsl(270, 30%, 10%);
}
.menuActual {
  color: hsl(270, 25%, 90%);
  background-color: hsl(270, 75%, 30%);
/*	background-color: #2D5106;
	color: #B1E580;*/
}
.menuActual:after {
  content: '\25b2';
  float: right;
}
.subMenu {
  border-bottom: 2px solid hsl(270, 75%, 80%);
	font-family: Regular;
	font-size: 12px;
	padding-left: 15px;
}
.subMenu  li {
  padding-left: 5px;
}
#abrirSubMenu {
  color: hsl(270, 75%, 90%);
  display: none;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 15px;
}
#abrirSubMenu span {
  font-size: 20px;
  margin-left: 5px;
}
#abrirSubMenu span:hover {
  cursor: pointer;
}
.nuevaVentana:after, .nuevaVentana2:after {
	background-color: #ffffff;
	border: 1px solid #000000;
	box-shadow: 0 0 10px hsl(270, 75%, 80%);
		-o-box-shadow: 0 0 10px hsl(270, 75%, 50%);
		-ms-box-shadow: 0 0 10px hsl(270, 75%, 50%);
		-moz-box-shadow: 0 0 10px hsl(270, 75%, 50%);
		-webkit-box-shadow: 0 0 10px hsl(270, 75%, 50%);
	color: #000000;
	content: 'Se abrira en una pestaña nueva \a0\a0\a0\a0\279c';
	display: none;
	padding: 3px;
	position: absolute;
}
.nuevaVentana:after {
	margin-top: -65px;
}
.nuevaVentana2:after {
	margin-top: -50px;
}
.nuevaVentana:hover:after, .nuevaVentana2:hover:after {
	display: block;
}
#cuerpoPrincipal {
	display: block;
  float: left;
	margin-left: 170px;
  margin-top: 60px;
	padding-left: 10px;
}
#cuerpoPrincipal nav {
	margin-bottom: 15px;
}
#seccionArticulo header {
  background-color: hsl(270, 75%, 90%);
/*  height: 62px;*/
	margin-bottom: 10px;
  overflow: hidden;
  padding-top: 5px;
  position: fixed;
/*  width: 100%;*/
}
#encabezadoArticulo {
  background-color: hsl(270, 75%, 50%);
	color: #032A66;
  height: 75px;
	padding: 5px 10px;
}
#ultimosArticulos {
	border: 1px solid #D8D8D8;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 100px 10px 50px 10px;
	text-align: justify;
}
.ultimosArticulos {
	border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-o-box-shadow: 1px 1px 1px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-ms-box-shadow: 1px 1px 1px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-moz-box-shadow: 1px 1px 1px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-webkit-box-shadow: 1px 1px 1px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
	display: inline-block;
	height: 350px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
	width: 260px;
}
.ultimosArticulos:hover {
	box-shadow: 1px 1px 15px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-o-box-shadow: 1px 1px 15px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-ms-box-shadow: 1px 1px 15px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-moz-box-shadow: 1px 1px 15px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
		-webkit-box-shadow: 1px 1px 15px hsl(270, 75%, 80%), -1px -1px hsl(270, 75%, 93%);
	cursor: pointer;
}
#ultimosArticulos object, #ultimosArticulos embed, #ultimosArticulos div {
	background-color: hsl(270, 75%, 87%);
	box-shadow: -1px -1px hsl(270, 75%, 80%), 1px 1px hsl(270, 75%, 93%);
		-o-box-shadow: -1px -1px hsl(270, 75%, 80%), 1px 1px hsl(270, 75%, 93%);
		-ms-box-shadow: -1px -1px hsl(270, 75%, 80%), 1px 1px hsl(270, 75%, 93%);
		-moz-box-shadow: -1px -1px hsl(270, 75%, 80%), 1px 1px hsl(270, 75%, 93%);
		-webkit-box-shadow: -1px -1px hsl(270, 75%, 80%), 1px 1px hsl(270, 75%, 93%);
	margin-top: 10px;
	overflow: hidden;
}
#ultimosArticulos div {
	height: 250px;
	width: 240px;
}
#ultimosArticulos div h3 {
	color: hsl(270, 75%, 30%);
	font-size: 2em;
	margin: 20px 15px;
}
#ultimosArticulos h4 {
	background-color: hsl(270, 75%, 81%);
	color: hsl(270, 75%, 30%);
	margin: 5px 2px 0px;
	padding: 4px 5px;
}
#ultimosArticulos p {
	background-color: hsl(270, 75%, 87%);
	color: hsl(270, 75%, 30%);
	font-size: 0.8em;
	margin: 0px 2px;
	padding: 4px 5px 0px;
}
#ultimosArticulos .fecha {
	border-radius: 0 0 8px 8px;
		-o-border-radius: 0 0 8px 8px;
		-ms-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
		-webkit-border-radius: 0 0 8px 8px;
	font-family: RegularItalic;
	font-size: 0.8em;
	padding: 0px 5px 7px 0px;
}
#subMenu, #subMenu  li {
  display: inline-block;
}
#subMenu {
  margin-left: 15px;
}
#subMenu  li {
	background-color: #D8E8FF;
  border-left: 1px dotted #032A66;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 0px 5px;
  width: 180px;
}
#subMenu  li:hover {
	background-color: #032A66;
	color: #BFD8FC;
	cursor: pointer;
}
#articulos article {
  margin-top: 80px;
}
.articulos {
	background-color: #fff;
	border-bottom: 1px solid #5B5B5B;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #5B5B5B;
	border-top: 1px solid #D8D8D8;
	display: none;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
}
.subMenu, .articulos article {
	display: none;
}
#hoja div, #articulos article > h3  {
	background-color: hsl(225,0%,95%);
  border-bottom: 1px solid hsl(225,0%,75%);
  border-right: 1px solid hsl(225,0%,75%);
  border-top: 2px solid hsl(270, 75%, 30%);
	margin-left: -6px;
  margin-top: -4px;
	padding: 0px 8px 3px 8px;
	position: fixed;
}
#hoja h3, #hoja a {
  display: inline-block;
}
#hoja a {
  font-size: 30px;
	margin-left: 10px;
}
#contenidoObject, #contenido, #articulos article:not(#hoja) {
	padding: 45px 5px 5px;
}
aside {
  height: auto;
  float: right;
  margin-top: 145px;
  text-align: center;
  width: 170px;
}

/***		codigosAsciiVarios		***/
	#codigosAsciiVarios {
		padding: 10px;
		font-family: Georgia,Times New Roman,Times,serif;
	}
	#codigosAsciiVarios h3 {
		margin-bottom: 20px;
	}
	#codigosAsciiVarios dd {
		margin-bottom: 30px;
	}
	#codigosAsciiVarios dl {
		padding: 40px;
	}
	#codigosAsciiVarios strong {
		border: 1px dotted #000000;
		font-family: Georgia,Times New Roman,Times,serif;
		font-size: 26px;
		margin-right: 10px;
		padding: 10px;
	}

/***		Codigo Ascii		***/
	#menuCodigosAscii li {
		display: block;
		cursor: pointer;
		margin-left: 20px;
		margin-top: 10px;
	}
	#menuCodigosAscii li h4:hover {
		color: #e5e5e5;
	}
	#menuCodigosAscii li  h4 {
		display: inline-block;
	}
	#codigoAscii {
		background-color: #e5e5e5;
		font-size: 12px;
	}
	.AsciiBotonCerrar {
		color: #FF0000;
		cursor: pointer;
		display: none;
		margin-left: 20px;
	}
	.AsciiBotonCerrar:hover {
		color: #000000;
	}
	.tablaCodigosAscii tr {
		background-color: #e5e5e5;
	}
	.tablaCodigosAscii {
		display: none;
		font-size: 12px;
		margin: 0 20px;
	}
	.textoLista {
		background-color: #ffffff;
		font-size: 22px;
		margin: 2px;
		text-align: center;
		width:  30px;
	}
	.textoLista:hover {
		background-color: #B1E580;
		color: #2D5106;
		-webkit-transform: scale(2) translate(15px,0); 
		-moz-transform:    scale(2) translate(15px,0); 
		-ms-transform:     scale(2) translate(15px,0); 
		-o-transform:      scale(2) translate(15px,0); 
		transform:         scale(2) translate(15px,0); 
	}

/***		Drop-Shadow		***/

/***		Fondo Texto		***/

/***		GRADIENTES		***/

/***		LightBox		***/
	#lightbox  {
		height: auto;
		width: 100%;
	}
	#fondoCajaLuz {
		background-color: #000000;
		display: none;
		height: 100%;
		left: 0%;
		position: absolute;
		top: 0%;
		width: 100%;
		z-index: 5000;
		opacity: .80;
		-moz-opacity: .80;
		-webkit-opacity: .80;
		filter:  alpha(opacity+80);
	}
	#frenteCajaLuz {
		color: #ffffff;
		display: none;
		height: 50%;
		left: 25%;
		overflow: auto;
		position: absolute;
		top: 25%;
		width: 50%;
		z-index: 5500;
	}
	#frenteCajaLuz a {
		color: #cccccc;
	}

/***		Objetos Equidistantes		***/

/*** 		Presentacion Enlaces			***/

/*** 		Titulos Extendidos			***/

/***		WordWrap		***/
